.timeline_container {
    margin: 6rem 0 2rem 0;
}

.timeline__title {
    background: #8A2387;
    background: -webkit-linear-gradient(to bottom, #F27121, #E94057, #8A2387);
    background: linear-gradient(to bottom, #F27121, #E94057, #8A2387);
    font-size: 3rem;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.timeline__para {
    font-size: 2rem;
    color: var(--background-color);
    font-weight: 400;
}

.timeline__line::before {
    background: -webkit-linear-gradient(to bottom, #F27121, #E94057, #8A2387);
}


/* .pixel-borders(
    corner-size: 1,                 
    border-size: 4px,              
    border-color: #000,            
    border-inset-color: false
  );
   pixel-box(
    corner-size,
    border-size, 
    background-color,              
    border-color: false,           
    border-inset: true,            
    border-inset-size: false,      
    border-inset-color: false,     
    border-inset-sides: false,
    border-inset-color-br: false,
    border-inset-color-tl: false
  ); */